.error-message{
    color:red;
    font-size: 14px;
}

.success-message{
    color:green;
    font-size: 14px;
}

.header-div{
    display:flex;
    align-items: center;
    flex-direction: row;
}

.header-btn{
    background-color:mediumblue;
    color:aliceblue;
    width:fit-content;
    height:fit-content;
    margin:10px;
    border-style: none;
    border-radius: 5px;
}

.header-btn:active {
    background-color: mediumblue;
    transform: translateY(1px);
    transform: translateX(1px);
}

.header-btn:hover{
    background-color:deepskyblue;
}

.header-btn-img{
    width: 28px; 
    height: 28px;
    padding: 5px;

}

#logout-img{
    transform: translateY(10px);
    transform: translateX(2px);
}



.home-div{
    display:flex;
    align-items: center;
    flex-direction: row;
}

.home-btn{
    background-color:mediumblue;
    color:aliceblue;
    width: 200px;
    height: 200px;
    margin:50px;
    font-size: 22px;
    border-style: none;
    border-radius: 5px;
}

.home-btn:active {
    background-color: mediumblue;
    transform: translateY(1px);
    transform: translateX(1px);
}
.home-btn:hover{
    background-color:deepskyblue;
}

.btn{
    background-color:mediumblue;
    color:aliceblue;
    font-size: 14px;
    width: 150px;
    height: 28px;
    border-style: none;
    border-radius: 5px;
}

.btn:active {
    background-color: mediumblue;
    transform: translateY(1px);
    transform: translateX(1px);
}

.btn:hover{
    background-color:deepskyblue;
}

.combo-box{
    font-size: 14px;
    width: 150px;
    height: 28px;
}

.text-field{
    font-size: 14px;
    width: 150px;
    height: 22px;
    padding: 1px;
}

.fornecedor-div{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.create-fornecedor-div{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.material-div{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.create-material-div{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.usuario-div{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.create-usuario-div{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.pedido-div{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.pedido-atual-div{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.login-div{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.index-div{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}