.error-message{
    color:red;
    font-size: 14px;
}

.success-mesage{
    color:green;
    font-size: 14px;
}

.btn{
    background-color:dimgray;
    color:aliceblue;
    font-size: 14px;
    width: 120px;
    height: 30px;
    border-radius: 10px;
}
