<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Página Inicial</title>
</head>
 
<body>
    <hr><h1>Página Inicial</h1><hr>
    
    <!-- this section can be replaced by a child document -->  
    <br><tr>
        <form action="/fornecedor">
        <td><input type="submit" class="btn" value="Fornecedores" formmethod="post"></td>
        </form>
    </tr>

    <br><tr>
        <form action="/material">
        <td><input type="submit" class="btn" value="Materiais" formmethod="post"></td>
        </form>
    </tr>

    <br><tr>
        <form action="/pedido">
        <td><input type="submit" class="btn" value="Pedidos" formmethod="post"></td>
        </form>
    </tr>

    <br><tr>
        <form action="/usuario">
        <td><input type="submit" class="btn" value="Usuario" formmethod="post"></td>
        </form>
    </tr>
 
</body>
 
</html>