<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Fornecedores</title>
</head>
 
<body>
    {% include 'header.html'%}
    <hr><h1>Fornecedores</h1><hr>

    <table>

        <tr>
            <td><label class="text-field">ID</label></td>
            <td><label class="text-field">Nome</label></td>
        </tr>

        {% for fornecedor_id, nome in fornecedores %}
            {% if is_admin %}
                    {% include '/fornecedor/update.html'%}
            {% else %}
                <tr>
                    <td><label class="text-field">{{ fornecedor_id }}</label></td>
                    <td><label class="text-field">{{ nome }}</label></td>
                </tr>
            {% endif %}              
        {% endfor %}
            
    </table>
 
</body>
 
</html>